name: gitartwork from a contribution graph
on: 
  push:
jobs:
  build:
    name: Make gitartwork SVG
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jasineri/gitartwork@v1
        with:
           user_name: rsamwilson2323-cloud
           text: SAM WILSON
      - uses: jasineri/simple-push-action@v1
